page-sign-in {

  p {
    font-size: 1.8rem;
  }

  .benefit-tag-line {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .benefit-tag-line-icon {
    zoom: 4.0;
  }

  .sign-in-button-row {
    padding-top: 40px;
  }

}
