<ion-header>

  <!--
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  -->

</ion-header>

<ion-content no-bounce padding>

  <!-- Sign in -->

  <ion-row class="app-icon-row">
    <ion-col text-center>
      <ion-icon name="ionic" class="app-icon-zoom"></ion-icon>
    </ion-col>
  </ion-row>

  <form [formGroup]="form">
    <!--
    <ion-input doesn't support autofocus
    -->
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <div *ngIf="!form.controls.email.valid && (form.controls.email.dirty || submitted)">
      Please enter a valid email.
    </div>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <div *ngIf="!form.controls.password.valid && (form.controls.password.dirty || submitted)">
      Please enter a valid password.
    </div>

    <ion-row class="sign-in-button-row">
      <ion-col text-center>
        <button ion-button block color="secondary" [disabled]="!form.valid" (click)="signIn()">
          Sign in
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button color="light" clear>
          Forgot your password?
        </button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>

<ion-footer>

</ion-footer>

<!--

<div *ngIf="!form.controls.email.valid && (form.controls.email.dirty || submitted)">

<div *ngIf="!form.controls.email.password && (form.controls.password.dirty || submitted)">

-->
