<ion-split-pane when="xl">

  <ion-menu [content]="content">

    <ion-header>
      <ion-toolbar transparent>
      </ion-toolbar>
    </ion-header>

    <!--

    <ion-header>
      <ion-toolbar transparent>
        <ion-title>Big Top</ion-title>
      </ion-toolbar>
    </ion-header>

    -->

    <ion-content>
      <ion-list no-lines>

        <ion-item-divider color="light">
          Navigate
        </ion-item-divider>
        <button ion-item menuClose detail-none *ngFor="let page of navigationPages" (click)="openPage(page)">
          <ion-icon item-start [name]="page.icon" color="light"></ion-icon>
          {{page.title}}
          <ion-icon item-end name="arrow-forward" color="light"></ion-icon>
        </button>

        <ion-item-divider color="light">
          Account
        </ion-item-divider>
        <button ion-item menuClose detail-none *ngFor="let page of accountPages" (click)="openPage(page)">
          <ion-icon item-start [name]="page.icon" color="light"></ion-icon>
          {{page.title}}
          <ion-icon item-end name="arrow-forward" color="light"></ion-icon>
        </button>
        <button ion-item menuClose detail-none (click)="signIn()">
          <ion-icon item-start name="log-in" color="light"></ion-icon>
          Sign In
          <ion-icon item-end name="arrow-forward" color="light"></ion-icon>
        </button>

        <ion-item-divider color="light">
          Settings
        </ion-item-divider>
        <button ion-item menuClose detail-none *ngFor="let page of settingsPages" (click)="openPage(page)">
          <ion-icon item-start [name]="page.icon" color="light"></ion-icon>
          {{page.title}}
          <ion-icon item-end name="arrow-forward" color="light"></ion-icon>
        </button>
        <button ion-item menuClose detail-none (click)="toggleTheme()">
          <ion-icon item-start name="color-palette" color="light"></ion-icon>
          Toggle Theme
          <ion-icon item-end name="arrow-forward" color="light"></ion-icon>
        </button>

        <ion-item-divider color="light">
          Legal
        </ion-item-divider>
        <button ion-item menuClose detail-none *ngFor="let page of legalPages" (click)="openPage(page)">
          <ion-icon item-start [name]="page.icon" color="light"></ion-icon>
          {{page.title}}
          <ion-icon item-end name="arrow-forward" color="light"></ion-icon>
        </button>

      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav main [root]="rootPage" #content swipeBackEnabled="false" [class]="theme"></ion-nav>

</ion-split-pane>

<!--

<ion-nav [root]="rootPage" [class]="theme"></ion-nav>

-->


