// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

h1 {
  font-size: 3.0rem;
  margin-top: 4px;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 2.2rem;
}

.item-ios {
  background-color: transparent;
}
.item-md {
  background-color: transparent;
}
.item-wp {
  background-color: transparent;
}

.label-md[floating] {
  color: white;
}

// Don't UPPERCASE .buttons
button {
  text-transform: none;
}

// https://github.com/ionic-team/ionic-preview-app/blob/master/src/theme/variables.scss
