page-search {

  .toolbar {
    // background-color: white;
    // background: white;
    background-color: transparent;
  }

  .toolbar-title {
    font-size: 2.0rem;
    font-weight: bold;
  }

  .content {
    color: black;
  }

}
